<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Quang/Downloads/Project-2/QuanLyBanHang/src/main/resources/org/example/quanlybanhang/Product.fxml"><classes/></test></suite>